<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- seo -%}

  {%- if page.image -%}
  <meta property="og:image" content="{{ page.image | absolute_url }}" />
  <meta name="twitter:image" content="{{ page.image | absolute_url }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {%- elsif site.og_image -%}
  <meta property="og:image" content="{{ site.og_image | absolute_url }}" />
  <meta name="twitter:image" content="{{ site.og_image | absolute_url }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {%- endif -%}

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}

  {%- if site.google_analytics -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {%- endif -%}

  <style>
    article.post .post-content img {
      width: 100%;
      display: block;
    }

    article.post .post-content blockquote {
      border-left: 3px solid #888;
      color: inherit;
      font-style: normal;
      font-size: inherit;
      letter-spacing: normal;
      padding: 0.8em 1.2em;
      margin: 1.5em 0;
    }

    article.post .post-content blockquote p {
      margin-bottom: 0.5em;
    }

    article.post .post-content blockquote p:last-child {
      margin-bottom: 0;
    }
  </style>
</head>
