<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- seo -%}

  {%- if page.image -%}
  <meta property="og:image" content="{{ page.image | absolute_url }}" />
  <meta name="twitter:image" content="{{ page.image | absolute_url }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {%- elsif site.og_image -%}
  <meta property="og:image" content="{{ site.og_image | absolute_url }}" />
  <meta name="twitter:image" content="{{ site.og_image | absolute_url }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {%- endif -%}

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}

  {%- if site.google_analytics -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {%- endif -%}

  <style>
    article.post .post-content img {
      max-width: 100%;
      width: 600px;
      display: block;
      margin: 0 auto;
    }
  </style>
</head>
