---
---

@import "minima";

a em, em a {
  color: inherit;
}

/* --- MEJORAS DE LEGIBILIDAD Y ESTILO --- */
a {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition: color 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;
}

a:hover {
  text-decoration-color: #0076df;
  color: #0076df;
}
