<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <style>
    hr + p {
      margin-top: 1.5em;
    }
  </style>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script>
      document.querySelectorAll('a[href^="http"]').forEach(function(a) {
        if (!a.href.startsWith(window.location.origin)) {
          a.setAttribute('target', '_blank');
          a.setAttribute('rel', 'noopener');
        }
      });
    </script>

  </body>

</html>
