---
layout: default
---

<style>
  .home > p {
    font-size: 1.05em;
    line-height: 1.7;
  }
  .home ul.post-list {
    border-top: 1px solid #e0e0e0;
    padding-top: 1.5em;
    margin-top: 1.5em;
    list-style: none;
    margin-left: 0;
  }
  .home ul.post-list > li {
    margin-bottom: 0.9em;
    padding: 0;
  }
  .home ul.post-list h3,
  .home ul.post-list h3 a.post-link {
    font-size: 1em !important;
    font-weight: normal !important;
    margin: 0 !important;
    line-height: 1.4 !important;
  }
  .home ul.post-list li span.post-meta {
    font-size: 0.75em !important;
    color: #bbb !important;
    display: block !important;
    margin-bottom: 0.1em !important;
    letter-spacing: 0.04em !important;
    text-transform: uppercase !important;
  }
</style>

<div class="home">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: "%d/%m/%Y" }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}

</div>
